gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java
.cxx/

# Remember to never publicly share your keystore.
# See https://flutter.dev/to/reference-keystore
key.properties
**/*.keystore
**/*.jks

/lib/api/sheets/creds/gsheets_creds.dart
/lib/api/mpesa_tings/creds/mpesa_api_creds.dart
lib/api/sheets/creds
